{% extends "base.html.twig" %}
              {% block body %}      

                <div class="jumbotron jumbotron-fluid col-12">
                    <div class="container">
                        <h2 class="display-4 text-primary text-justify">Welcome Home</h2><br>

                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quaerat dolore pariatur aspernatur id cumque harum eveniet recusandae, ducimus cupiditate asperiores vel possimus tempora nostrum facilis mollitia corporis exercitationem amet?
                        Minima odio beatae quidem harum vitae assumenda minus corrupti quas unde obcaecati omnis totam est ipsam, eaque architecto, exercitationem voluptatum corporis. Veritatis laudantium optio corrupti et in ipsa cumque id.
                        Iste fugit, est alias eveniet, magni exercitationem tenetur corrupti cum aperiam sapiente nobis aut praesentium cumque reiciendis nemo in deleniti veritatis cupiditate, ex doloremque quaerat voluptate quisquam maxime molestiae? Aliquam?
                        Voluptatibus porro quas explicabo? At maxime ratione dolor. Blanditiis provident dicta non alias dolore inventore mollitia nam fuga illo praesentium quia veritatis impedit atque, consequuntur commodi voluptatum a explicabo eveniet.
                        Omnis laudantium iusto repellat possimus, necessitatibus harum officiis pariatur architecto doloribus, cum fugit doloremque, adipisci ullam quaerat voluptatem unde? Suscipit laboriosam ea repudiandae, vero enim dolore corporis similique magnam beatae.
                        Necessitatibus, nostrum. Dolores fugit optio quae tenetur ullam explicabo rem. In reprehenderit autem ut aliquam illum dolore nisi, earum veritatis assumenda cum a dicta labore suscipit id, quis molestiae non?
                        Hic porro sapiente atque nesciunt voluptas quis quae corporis et nisi odio neque quia, aliquid dolore molestiae totam consequuntur deserunt amet laboriosam? Repudiandae laborum eum quod? Quisquam accusantium rem obcaecati.
                        Totam nihil fuga assumenda perferendis perspiciatis maxime accusantium officiis dolor illo laborum esse, obcaecati, cumque consequuntur dignissimos quis libero voluptates enim ut quam doloremque ipsum itaque dolorum eveniet suscipit. Nostrum.
                        Animi aliquam deleniti quibusdam nemo necessitatibus ad iste ab dolor quam repellat, tempora nihil fuga voluptates soluta vitae. Inventore numquam ratione facilis repudiandae alias modi animi excepturi veritatis quam eaque?
                        </p>
                        <hr class="my-4">
                        <p class="text-secondary">More info</p>
                        <p class="lead">
                            <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Découvrez nous !</a>
                        </p>
                    </div>
                </div>
            

                          {% endblock  body %}      

        






