{% extends 'base.html.twig' %}
        {% block title %}Classes{% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
    <div classe="row">
        {% for classe in classes  %}

         <div class="card text-left col-4">
           <div class="card-body">
             <h4 class="card-title">{{ classe.nom }}</h4>
             <p class="card-text">{{ niveau }}</p>
           </div>
         </div>
    </div>
        
        
        {% endblock %}
    </body>
</html>
